@font-face {
    font-family: 'Panton';
    src: url('./fonts/PantonDemoLight.otf') format('truetype');
}
@font-face {
    font-family: 'Panton Black';
    src: url('./fonts/PantonDemoBlack.otf') format('truetype');
}

body{
    margin: 0;
    font-family: "Panton";
    font-weight: bold;
}
.header{
    background-color: #232323;
    width: 100%;
    text-align: center;
    font-family: "Panton";
}
.header-wrap{
    display: flex;
    width: 70%;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 12px;
}
.header-left{
    display: flex;
    justify-content: space-between;
    width: 45%;
}
.header-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 36%;
}
.header-right__number{
    font-size: 20px;
    font-family: "Panton";
    color: rgb(0, 158, 226);
    font-weight: bold;     
}
.main-images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 92%;
    max-width: 702px;
    height: 510px;
    margin-left: 25.02px;
}
.main-img{
    background: linear-gradient(90deg, rgba(193,25,25,1) 0%, rgba(0,134,192,1) 0%, rgba(61,195,242,1) 100%);
    position: relative;
    border-radius: 3px;
    height: 340px;
}
.main-img__tittle{
    margin-left: 33.6px;
    font-size: 40px;
    width: 264px;
    font-family: "Panton";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25;
    text-align: left;
}
.main-img__name{
    margin-left: 33.6px;
    font-size: 22px;
    font-family: "Panton";
    color: rgb(75, 209, 254);
    font-weight: bold;
    line-height: 1.364;
    text-align: left;
}
.main-img__price{
    margin-left: 33.6px;
    font-size: 30px;
    font-family: "Panton";
    margin-top: 1px;
    margin-bottom: 24px;
    color: rgb(255, 255, 255);
}
.main-img__button{
    border-radius: 3px;
    border-style: none;
    margin-left: 33.6px;
    color: #eeeeee;
    cursor: pointer;
    background-color: rgb(29, 30, 30);
    width: 174px;
    height: 54px;    
}
.main-img img{
    height: 372px;
    width: 276px;
    position: absolute;
    float: left;
    top: -32px;
    left: 390px;
}
.bottom-images{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.bottom-images__bottom{
    background: linear-gradient(90deg, rgba(193,25,25,1) 0%, rgba(0,134,192,1) 0%, rgba(61,195,242,1) 100%);
    float:left;
    position:relative;
    border-radius: 3px;
    width: 32%;
    max-width: 216px;
    height: 144px;
}
.arrow_button1{
    width: 21px;
    height: 21px;
    margin-left: 19.8px;
}
.arrow_button2{
    width: 21px;
    height: 21px;
    margin-left: 19.8px;
    margin-top: 18px;
}
.arrow_button3{
    width: 21px;
    height: 21px;
    margin-left: 19.8px;
    margin-top: -5px;
}
.bottom-images__bottom-image1{
    position: absolute;
    top: 2px;
    left: 91px;
    width: 160.2px;
    height: 159px;
    z-index: 33;
}
.bottom-images__bottom-image2{
    position: absolute;
    top: -3px;
    left: 81px;
    width: 160.2px;
    height: 159px;
    z-index: 33;
}
.bottom-images__bottom-image3{
    top: -13px;
    left: 56px;
    position: absolute;
    width: 160.2px;
    height: 159px;
}
.bottom-images__tittle{
    font-size: 20px;
    font-family: "Panton";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 19.8px;
    margin-top: 15px;
    margin-bottom: -5px;
    z-index: 336;
}
.bottom-images__text{
    font-size: 14px;
    font-family: "Panton";
    color: rgb(76, 210, 254);
    font-weight: bold;
    margin-top: 11.4px;
    margin-bottom: 11.4px;
    margin-left: 19.8px;
    width: 98.8px;  
}
.main-wrap{
    margin: 0 auto;
    width: 70%;
    max-width: 990px;
    height: 2188.79;
}
.second-wrap{
    width: 70%;
    max-width: 990px;
    height: 852px;
    margin: 0 auto;
}
.tabs-wrap{
    width: 70%;
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    height: 49.98px;
    justify-content: space-between;
    align-items: center;
}
.product{
    display: flex;
    cursor: pointer;
    width: 94%;
}
.product__arrow{
    width: 11px;
    height: 14px;
    cursor: pointer;
}
.main-upper-wrap{
    width: 70%;
    max-width: 990px;
    height: 103.32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.main-upper-section{
    display: flex;
    align-items: center;
}
.grey-section-wrap{
    width: 70%;
    max-width: 990px;
    height: 852px;
    margin: 0 auto;
}

.tabs{
    background-color: #eeeeee;
    width: 100%;
}
.tab{
    cursor: pointer;
    font-weight: bold;
}
.tab-catalog{
    border-radius: 3px;
    background-image: -moz-linear-gradient( 180deg, rgb(1,135,193) 0%, rgb(58,192,239) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(1,135,193) 0%, rgb(58,192,239) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(1,135,193) 0%, rgb(58,192,239) 100%);
    width: 263px;
    height: 49.98px;
    display: flex;
    align-items: center;
    color: #eeeeee;
    font-size: 18px;
}
.tab-catalog__catalog-menu{
    width: 22.8px;
    height: 15px;
    margin-left: 13.32px;
    margin-right: 13.32px;
}
.main-content{
    display: flex;
    margin-top: 38.2px;
    width: 100%;
}
.products-list{
    background-color: #eeeeee;
    width: 27%;
    margin-top: 0;
    padding-top: 15px;
    list-style-type: circle;
}
.products-list__product{
    border-radius: 3px;
    width: 216px;
    height: 40px;
    color: black; 
}
.discount-line{
    display: flex;
    align-items: center;
}
.discount__date{
    font-size: 16px;
    font-family: "Panton";
    color:#59d2fc;
    margin-left: 18.6px;  
}
.texts{
    display: flex;
    justify-content: space-between;   
}
.block{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 42px;
}
.item{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 372px;
    width: 100%;
    max-width: 224px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item-wrap{
    padding: 10.86px 15.84px;
    height: 372px;
    width: 100%;
    max-width: 224px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item__pic{
    width: 192px;
    height: 162px;
}
.item__tittle{
    font-size: 16px;
    font-family: "Panton";
    color: rgb(0, 0, 0);
    width: 60%;
    font-weight: bold;   
}
.item__price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 112.2px;
}
.item__price1{
    font-size: 18px;
    font-family: "Panton";
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.item__price2{
    font-size: 14px;
    font-family: "Panton";
    color: rgb(109, 109, 109);
    text-decoration: line-through;
}
.item__pic img{
    width: 100%;
    max-width: 210px;
    height: 172.2px;
}
.item__button{
    border-radius: 3px;
    background-image: -moz-linear-gradient( 180deg, rgb(1,135,193) 0%, rgb(58,192,239) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(1,135,193) 0%, rgb(58,192,239) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(1,135,193) 0%, rgb(58,192,239) 100%);
    color: #eeeeee;
    border-style: none;
    cursor: pointer;
    width: 186px;
    height: 46.68px;
}
.grey-section{
    background-color: #efefef;
    height: 364.8px;
}
.news-block{
    background-color: white;
    height: 180px;
    position: relative;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px 18px 21px 0px rgba(0, 0, 0, 0.09);
    max-width: 300px;
}
.news-block__rectangle{
    position: absolute;
    width: 78px;
    font-size: 13px;
    text-align: center;
    height: 30px;
    top: 0;
    left: 0;
    background-color: black;
    color: #eeeeee;
    border-radius: 3px;
}
.news-block__tittle{
    color: black;
    font-size: 16px;
    font-family: 'Panton Black';
    font-weight: bold;
}
.news-block__link{
    font-size: 10px;
    font-weight: bold;
}
.news-block__text{
    color: #9c9c9c;
    font-size: 12px;
    font-family: 'Panton';
    font-weight: bold;
}
.news-block-wrap{
    padding: 10px 10px;
    font-size: 14px;
}
.news-block img{
    height: 180px;
    width: 100%;
    max-width: 300px;
}
.item-background-pic1{
    height: 372px;
    width: 228px;
    background-image: url(./pics/Слой\ 34.png);
    background-position-x: -19px;
    background-position-y: -5px;
    background-size: 116%;
}
.item-background-pic__tittle{
    font-size: 26px;
    font-family: "Panton Black";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: 25.8px;
    margin-top: 24.5px;
    margin-bottom: 33px;
}
.item-background-pic__name{
    font-size: 18px;
    font-family: "Panton";
    color: rgb(76, 210, 254);
    margin-top: -20px;
    font-weight: bold;
    width: 81.6px;
    margin-left: 25.8px; 
}
.item-background-pic__price{
    font-size: 30px;
    font-family: "Panton";
    color: rgb(255, 255, 255);
    margin-left: 25.8px; 
    margin-top: 170px;
}
.item-background-pic2{
    height: 372px;
    width: 228px;
    background-image: url(./pics/second.png);
    background-position-x: -19px;
    background-position-y: -5px;
    background-size: 116%;
}
.main-content-tittle-name{
    margin-top: 80.4px;
}
.main-upper__input{
    border-style: solid;
    background: url(./pics/search.png) no-repeat scroll 457px 7px;
    font-family: "Panton";
    font-weight: bold;
    color: #686969;
    padding-left:30px;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-radius: 4px;
    height: 33.6px;
    width: 462px;
}
.tittle-name{
    font-size: 36px;
    font-family: "Anton", sans-serif;
    font-weight: bold;
    color: rgb(35, 35, 35);
    font-weight: bold;
    line-height: 0.694;
}
.main-content-subscription{
    margin-top: 44px;
    margin-bottom: 33px;
    text-align: center;
}
.subscription-form{
    display: flex;
    justify-content: center;
    width: 100%;
}
.subscription-form__input{
    border-radius: 3px;
    box-shadow: 0px 9px 21px 0px rgba(0, 0, 0, 0.05);
    border-style: none;
    padding-left: 26px;
    font-size: 18px;
    color: #6f6f6f;
    width: 1140px;
    height: 58px;
}
.subscription-text{
    font-size: 24px;
    font-family: "Panton";
    color: rgb(29, 30, 30);
    font-weight: bold;
    text-align: center;   
}
.subscription-form__button{
    border-radius: 3px;
    border-style: none;
    cursor: pointer;
    background-image: -moz-linear-gradient( 180deg, rgb(1,135,193) 0%, rgb(58,192,239) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(1,135,193) 0%, rgb(58,192,239) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(1,135,193) 0%, rgb(58,192,239) 100%);
    width: 264px;
    height: 62px;
}
.discount{
    background: linear-gradient(90deg, rgba(193,25,25,1) 0%, rgba(0,134,192,1) 0%, rgba(61,195,242,1) 100%);
    box-shadow: -6px 53px 9px -37px rgba(189,189,189,1);
    width: 100%;
    max-width: 480px;
    position: relative;
    height: 233.4px;
}
.discount-wrap{
    padding: 30px 35px;
}
.discount__text1{
    font-size: 38px;
    font-family: "Panton Black";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 15px 0;
}
.discount__text2{
    font-size: 38px;
    font-family: "Panton Black";
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: -20px;
}
.discount__arrow{
    margin-top: -10px;
    cursor: pointer;
}
.discount__procent{
    position: absolute;
    left: 100px;
    top: 140px;
}
.discount__image1{
    position: absolute;
    top: -7px;
    left: 310px;
    width: 138px;
    height: 246px;
    z-index: 333;
}
.discount__image2{
    position: absolute;
    top: 20px;
    left: 290px;
    width: 168px;
    height: 228px;
    z-index: 333;
}
.text{
    font-size: 12px;
    font-family: "Panton";
    color: rgb(29, 30, 30);
    font-weight: bold;
    line-height: 1.786;
    text-align: left;
    width: 542px;
    height: 389px;
}
.footer{
    background-color: black;
    width: 100%;
    height: 362px;
    font-size: 12px;
    color: #c3c3c3;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 190px;
}
.footer-list__tittle{
    color: #ffffff;
}
.footer-logo__text{
    margin-bottom: 47.4px;
    margin-top: -1px;
}
.footer-wrap{
    margin: 0 auto;
    width: 70%;
    max-width: 960px;
    padding-top: 51px;
    display: flex;
    justify-content: space-between;
}
a{
    color: #0293d4;
}